
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#top-image{
    width:100%;
    height:400px;
    background-image: url("https://cdn1.tripoto.com/assets/2.9/img/home_banner_road.jpg");
    background-position: center;
    /* background-size: cover; */
    display:grid;
    align-items:center;
    justify-content: center;
}
.search-bar{
    width:100%;
    max-width:700px;
    display:flex;
    background: #fff;
    align-items: center;
    margin-top: -20%;
    /* padding:2px; */
    border-radius: 8px;
}
.search-bar>input{
   background:transparent ; 
   flex:1;
   border:0;
   outline:none;
   padding:10px;
   font-size: 18px;
   color:black;
   
}
::placeholder{
   color:dark;
}
.search-bar button img{
    width:20px;
}
.search-bar button{
    border:0;
    border-radius: 50px;
    width:60px;
    height:60px;
    background-color: #fff;
    cursor: pointer;
}
#text-banner{
 color:#fff;
 margin-top:15%;
 font-family: inherit;
 font-weight: 600;
 font-size: 36px;
 line-height: 1.1;
 font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
}
.relative-pointer{
 display:grid;
 grid-template-columns: repeat(4,1fr);
 width:70%;
 height:auto;
 /* border:1px solid red; */
 margin:auto;
 margin-top:50px;
}
.relative-pointer>div{
    width:90%;
    height:100%;
    /* border:1px solid blue; */
    margin:auto;
}
.relative-pointer>div>img{
    width:100%;
}
#relative-top>h2{
    font-size:30px;
    font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: inherit;
}
.relative-pointer-bottom>div{
    width:100%;
    height:auto;
    /* border:1px solid blue; */
}
.relative-image{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.relative-image>div{
    width:90%;
    height:200px;
    /* border:1px solid yellow; */
    margin:auto;
}
.relative-image>div>img{
    width:100%;
    height:100%;
    margin:auto;
    border-radius: 8px;
}
.relative-bottom{
    display:grid;
    grid-template-columns: repeat(4,1fr); 
    
}
.relative-bottom>div{
    width:90%;
    height:auto;
    /* border:1px solid yellow; */
    margin:auto;
}
h2{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
h3{
    font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:#333;
}
/* ****************************************** */
/* Partnership Slider Css */

.relative-pointer-bottom{
    display:flex;
    height:auto;
    width:70%;
    /* border:1px solid red; */
    margin:auto;
    margin-top: 50px;
   margin-bottom: 40px;
}
.item{
    width:95%;
    height:350px;
    /* border:1px solid blue; */
    margin:auto;
}
  .item>img{
    width:100%;
    height:60%;
    border-radius: 10px;
  }
  .title{
    color:rgb(235, 80, 80);
    margin-top:10px;
    padding-left: 8px;
  } 
  .item>p{
    padding-left: 8px;
    font-weight: 600;
    line-height: 1.5;
  } 
 .top-heading{
    margin-top:60px;
    margin-left:300px;
  } 
  span{
    color:rgb(103, 207, 242);
  }
  .items{
    width:95%;
    height:auto;
    /* border:1px solid blue; */
    margin:auto;
    border-bottom: 1px solid;
  }
  .items>img{
    width:100%;
    height:60%;
    border-radius: 10px;
  }
  .items>p{
    padding-left: 8px;
    font-weight: 600;
    line-height: 1.5;
  } 
  .titles{
     color:teal;
     margin-top:10px;
     padding-left: 8px;
  }
.location{
    display: flex;
    justify-content: space-between;
    margin-top:8px;
}
.cont-1{
    display:flex;
    width:30%;
    height:auto;
    /* border:1px solid red; */
   color:teal;
}
.cont-1>img{
    width:10%;
    height:20px;
    justify-content: space-between;
    margin-left:-5px;
}
.cont-2>button{
    background-color: rgb(58, 140, 140);
    border-radius: 10px;
    color:white;
    padding:5px;
    font-weight: 200;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}
.book{
    padding:10px;
    border:1px solid teal;
    border-radius: 10px;
    font-weight: 200;
    margin-bottom:20px;
}
.book>p{
    margin-top:30px;
}

/* Tourism Css */

.tourism-image{
    width:70%;
    height:auto;
    /* border:1px solid red; */
    margin:auto;
    margin-bottom: 40px;
}
.tourism-image>img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:10px;
}
.tourism-image>p{
    margin-top:20px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    margin-top: 60px;
}
#post-tourism{
    width:70%;
    height:auto;
    /* border:1px solid red; */
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom:50px;
}
.tour{
    width:90%;
    height:100%;
    margin:auto;
    /* border:1px solid blue; */
    text-align: center;
    
}
.tour>img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 5px;
}
.tour>p{
    font-weight: 100;
    line-height: 1.5;
}

/* Luxury-stay CSS */

#luxury-stay{
    width:70%;
    height:auto;
    /* border:1px solid red; */
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom:50px;
}
.stay{
    width:90%;
    height:100%;
    margin:auto;
    /* border:1px solid blue; */
    text-align: center;
    margin-top:40px;
}
.stay>img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 5px;
}
.stay>p{
    font-weight: 100;
    line-height: 1.5;
}
