#main-container{
    /* border: 1px solid red; */
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
}

#upload-container{
    /* border: 1px solid black; */
    width: 70%;
    
    height: 400px;
    margin: auto;
}
#blog{
    border: none;
    height: 50px;
    margin-top: 50px;
    width: 80%;
}
#location{
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid transparent;
}
#image-container{
    border: 1px solid rgb(0, 157, 255);
    width: 40%;
    align-items: center;
    height: 150px;
    margin-top: 40px;
    border-radius: 5px;
}

#button-div{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
#button-div button{
    width: 25%;
    height: 25px;
    border-radius: 8px;
    background-color: #2f9bdb;
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
}
